doc/_build/
**/__pycache__
**/pytest_cache
**/*.egg
**/*.egg-info
**/.cache
**/.config
**/.wget*
**/dist
**/eggs
**/build
**/lib/*
**/job_dir
**/.DS_Store
**/section_names.py
**/*.so

# Unit test / coverage reports
**/.coverage
